<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模版语法</title>
</head>
<body>
    <section id="vue">
        <p>{{ msg }}</p>
        <input v-model="msg" />
        <p>{{html}}</p>
        <p v-html="html"></p>
        <p v-bind:id="pid">动态绑定ID</p>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../js/templateGrammar.js"></script>
</body>
</html>